{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h1> {{ name }}'s Profile </h1>
<div id="follow">
      Follows {{num_followers}} {% if num_followers == 1 %} person {% else %} people{% endif %}.
      
      <br>
      Followed by <span id="nfollowers">{{num_following}} {% if num_following == 1 %} person {% else %} people {% endif %}</span> <br>

      <!-- Button only shows if user is authenticated AND User is Not on their own profile phate--> 
      {% if show_button %}
      <div class="follow-button-container">
      <button id="follow-button-{{name}}" class="follow-button" onClick="follow('{{name}}')">{{button_text}}</button>
      </div>
      {% endif %}
</div>


  

{% for post in authorPosts %}
{% include "singlepost.html" %}
{% endfor %}

{% block script %}
<script src="{% static 'network/network.js' %}"></script>
{% endblock %}

{% endblock %}

